/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/08/2018, 02:32:29 PM
    Author     : Diana Margarita
*/
*{
    margin:0px;
    padding:0px
}
body{
    width:100%;
    background-color:darkgrey;
     box-sizing:border-box;
}
#cabecera{
    width:100%;
    height: 80px;
    background-color:gainsboro;
    text-align:center;
    box-sizing:border-box;
}
.contenedor{
width:100%;
background-color: #424242;
box-sizing:border-box;
}
.galeria{
 width: 90%;
 justify-content:center;
 margin-right: auto;
 margin-left: auto;
 display:flex;
 flex-wrap: wrap;
 box-sizing:border-box;
}
.galeria img{
    width: 400px;
    height: 400px;
    margin:5px;
    border-bottom:2px solid #333;
    box-shadow: 0 0 0  2px white;
    flex:auto;
     box-sizing:border-box;
}
.galeria li{
    margin: 5px;
}
.modal{
    display:none;
}

.modal:target{
    display:block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
h1{
font-family:serif;
font-size:50px;
color:black;
text-justify:inherit;
}
h3{
    color:white;
    font-size: 30px;
    text-align: center;
    margin:15px 0;
}
.imagen{
    width: 100%;
    height: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.imagen a{
    color:white;
    font-size: 40px;
    text-decoration: none;
    margin:0 10px;
    flex-shrink: 2;
}
.imagen img{
    width: 500px;
    height: 100%;
    max-width: 100%;
    border:7px solid white;
    box-sizing: border-box;
}
.imagen a:nth-child(2){
   margin: 0;
   height: 100%;
}
.cerrar{
    display: block;
    background-color: white;
    width: 25px;
    height: 25px;
    margin:15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:black;
    padding:5px;
    border-radius:50%;
    line-height: 25px;
}
@media screen and(max-width:768px){
    .contenedor img{
        width:20%;
    }
    h1{
        font-size:20px;
    }
}
@media screen and(max-width:500px){
    .contenedor img{
        width:30%;
        box-sizing:border-box;
    }
    h1{
        font-size:20px;
    }
}
@media screen and(max-width:369px){
    .contenedor img{
        width:100%;
        box-sizing:border-box;
    }
    h1{
        font-size:20px;
    }
}
@media screen and (max-width:400px){
    .contenedor img{
        width:100%;
        box-sizing:border-box;
    }
    h1{
        font-size:20px;
    }
}
