/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/08/2018, 02:32:29 PM
    Author     : Diana Margarita
*/
*{
    margin:0px;
    padding:0px
}
body{
    width:100%;
    background-color:darkgrey;
     box-sizing:border-box;
}
#cabecera{
    width:100%;
    height: 80px;
    background-color:gainsboro;
    text-align:center;
     box-sizing:border-box;
}
.contenedor{
width:100%;
background-color: #424242;
display:flex;
 flex-wrap: wrap;
 justify-content:center;
 margin-right: auto;
 margin-left: auto;
  box-sizing:border-box;
}
.contenedor img{
    width: 20%;
    height: 400px;
    margin:10px;
    border:2px solid #333;
    box-shadow: 0 0 0  2px white;
    flex:auto;
     box-sizing:border-box;
}
h1{
    font-family:serif;
font-size:50px;
color:black;
text-justify:inherit;
}
@media screen and(max-width:768px){
    .contenedor img{
        width:30%;
    }
    h1{
        font-size:20px;
    }
}
@media screen and(max-width:500px){
    .contenedor img{
        width:50%;
        box-sizing:border-box;
    }
    #cabecera{
    width:95%;
    height: 100px;
    }
    h1{
        font-size:15px;
    }
}
@media screen and(max-width:369px){
    .contenedor img{
        width:95%;
        box-sizing:border-box;
    }
   #cabecera{
    width:100%;
    height: 100px;
    }
    h1{
        font-size:30px;
    }
}
@media screen and (max-width:400px){
    #cabecera{
      width:100%;
    height: 80px;
    }
    .contenedor img{
        width:95%;
        box-sizing:border-box;
    }
    h1{
        font-size:30px;
    }
}
